@import "fonts.rasi"
@import "style.css"
@import "colors.rasi"

configuration {
    modi: "drun,window,run";
    show: "drun";
    icon-theme: "Papirus";
    show-icons: true;
    disable-history: false;
    sidebar-mode: false;
}